In [1]:
import numpy as np
import pandas as pd

from pydataset import data

### 1. Use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [2]:
df_iris = data("iris")

In [3]:
# print the first 3 rows
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [4]:
# print the number of rows and columns (shape)
df_iris.shape

(150, 5)

In [5]:
# print the column names
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [6]:
# print the data type of each column
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
Sepal.Length    150 non-null float64
Sepal.Width     150 non-null float64
Petal.Length    150 non-null float64
Petal.Width     150 non-null float64
Species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [7]:
# print the summary statistics for each of the numeric variables.
# Would you recommend rescaling the data based on these statistics?
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

---
### 2. Read Table1_CustDetails the excel module dataset, Excel_Exercises.xlsx, into a dataframe, df_excel

In [8]:
df_excel = pd.read_excel("/Users/alechartman/codeup-data-science/ds-methodologies-exercises/classification/Spreadsheets_Exercises.xlsx", sheet_name="Table1_CustDetails")
df_excel

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,No
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,No
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
7044,9987-LUTYD,Female,0,No,No,1,1,1,Mailed check,55.15,742.90,No
7045,9992-RRAMN,Male,0,Yes,No,2,2,0,Electronic check,85.10,1873.70,Yes
7046,9992-UJOEL,Male,0,No,No,1,1,0,Mailed check,50.30,92.75,No
7047,9993-LHIEB,Male,0,Yes,Yes,1,1,2,Mailed check,67.85,4627.65,No
7048,9995-HOTOH,Male,0,Yes,Yes,0,1,2,Electronic check,59.00,3707.60,No

In [9]:
# assign the first 100 rows to a new dataframe, df_excel_sample
df_excel_sample = df_excel.head(100)
df_excel_sample

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,No
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,No
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,Yes
5,0013-MHZWF,Female,0,No,Yes,1,1,0,Credit card (automatic),69.40,571.45,No
6,0013-SMEOE,Female,1,Yes,No,1,2,2,Bank transfer (automatic),109.70,7904.25,No
7,0014-BMAQU,Male,0,Yes,No,2,2,2,Credit card (automatic),84.65,5377.80,No
8,0015-UOCOJ,Female,1,No,No,1,1,0,Electronic check,48.20,340.35,No
9,0016-QLJIS,Female,0,Yes,Yes,2,1,2,Mailed check,90.45,5957.90,No
10,0017-DINOC,Male,0,No,No,0,1,2,Credit card (automatic),45.20,2460.55,No
11,0017-IUDMW,Female,0,Yes,Yes,2,2,2,Credit card (automatic),116.80,8456.75,No
12,0018-NYROU,Female,0,Yes,No,1,2,0,Electronic check,68.95,351.50,No
13,0019-EFAEP,Female,0,No,No,2,2,2,Bank transfer (automatic),101.30,7261.25,No
14,0019-GFNTW,Female,0,No,No,0,1,2,Bank transfer (automatic),45.05,2560.10,No
15,0020-INWCK,Female,0,Yes,Yes,2,2,2,Credit card (automatic),95.75,6849.40,No
16,0020-JDNXP,Female,0,Yes,Yes,0,1,1,Mailed check,61.25,1993.20,No
17,0021-IKXGC,Female,1,No,No,2,2,0,Electronic check,72.10,72.10,No
18,0022-TCJCI,Male,1,No,No,1,1,1,Credit card (automatic),62.70,2791.50,Yes
19,0023-HGHWL,Male,1,No,No,0,1,0,Electronic check,25.10,25.10,Yes
20,0023-UYUPN,Female,1,Yes,No,2,0,1,Electronic check,25.20,1306.30,No
21,0023-XUOPT,Female,0,Yes,No,2,2,0,Electronic check,94.10,1215.60,Yes
22,0027-KWYKW,Female,0,Yes,Yes,2,2,0,Electronic check,83.75,1849.95,No
23,0030-FNXPP,Female,0,No,No,1,0,0,Mailed check,19.85,57.20,No
24,0031-PVLZI,Female,0,Yes,Yes,1,0,0,Mailed check,20.35,76.35,Yes
25,0032-PGELS,Female,0,Yes,Yes,0,1,0,Bank transfer (automatic),30.50,30.50,Yes
26,0036-IHMOT,Female,0,Yes,Yes,1,2,1,Bank transfer (automatic),103.70,5656.75,No
27,0040-HALCW,Male,0,Yes,Yes,1,0,2,Credit card (automatic),20.40,1090.60,No
28,0042-JVWOJ,Male,0,No,No,1,0,1,Bank transfer (automatic),19.60,471.85,No
29,0042-RLHYP,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),19.70,1396.90,No
30,0048-LUMLS,Male,0,Yes,Yes,1,2,1,Credit card (automatic),91.20,3247.55,No
31,0048-PIHNL,Female,0,Yes,No,1,0,1,Bank transfer (automatic),20.45,900.90,No
32,0052-DCKON,Male,0,Yes,No,2,2,1,Bank transfer (automatic),115.80,7942.15,No
33,0052-YNYOT,Female,0,No,No,1,0,1,Electronic check,20.55,1343.40,No
34,0056-EPFBG,Male,0,Yes,Yes,0,1,2,Credit card (automatic),39.40,825.40,No
35,0057-QBUQH,Female,0,No,Yes,2,0,2,Electronic check,25.10,1070.15,No
36,0058-EVZWM,Female,0,Yes,No,2,2,0,Bank transfer (automatic),89.80,4959.60,No
37,0060-FUALY,Female,0,Yes,No,2,2,0,Electronic check,94.75,5597.65,No
38,0064-SUDOG,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),20.30,224.50,No
39,0064-YIJGF,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),75.75,1929.00,No
40,0067-DKWBL,Male,1,No,No,1,1,0,Electronic check,49.25,91.10,Yes
41,0068-FIGTF,Female,0,No,No,1,1,1,Mailed check,78.20,2078.95,No
42,0071-NDAFP,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.50,630.60,No
43,0074-HDKDG,Male,0,Yes,Yes,1,1,1,Bank transfer (automatic),61.60,1611.00,No
44,0076-LVEPS,Male,0,No,Yes,0,1,0,Mailed check,45.00,1242.45,No
45,0078-XZMHT,Male,0,Yes,No,2,1,2,Bank transfer (automatic),85.15,6316.20,No
46,0080-EMYVY,Female,0,No,No,1,1,1,Credit card (automatic),51.45,727.85,No
47,0080-OROZO,Female,0,No,No,1,2,1,Electronic check,99.25,3532.00,No
48,0082-LDZUE,Male,0,No,No,1,1,0,Mailed check,44.30,44.30,No
49,0082-OQIQY,Male,0,No,No,1,2,0,Electronic check,94.20,2607.60,No
50,0083-PIVIK,Male,0,No,No,2,1,1,Electronic check,81.25,5567.55,No
51,0089-IIQKO,Female,0,Yes,Yes,2,2,0,Credit card (automatic),99.95,3767.40,No
52,0093-EXYQL,Female,1,No,No,1,2,0,Electronic check,91.55,3673.60,No
53,0093-XWZFY,Male,0,No,No,2,2,0,Credit card (automatic),104.50,4036.85,Yes
54,0094-OIFMO,Female,1,No,No,1,2,0,Electronic check,95.00,1120.30,Yes
55,0096-BXERS,Female,0,Yes,No,2,1,0,Electronic check,50.35,314.55,No
56,0096-FCPUF,Male,0,No,No,2,1,0,Mailed check,64.50,1888.45,No
57,0098-BOWSO,Male,0,No,No,1,0,0,Electronic check,19.40,529.80,No
58,0100-DUVFC,Male,1,Yes,No,2,2,1,Electronic check,104.80,7308.95,No
59,0103-CSITQ,Female,0,Yes,No,2,2,1,Bank transfer (automatic),109.40,6252.70,No
60,0104-PPXDV,Male,0,Yes,No,1,1,1,Credit card (automatic),50.30,2878.55,No
61,0106-GHRQR,Male,0,No,No,2,1,0,Bank transfer (automatic),71.40,1212.10,No
62,0106-UGRDO,Female,0,Yes,No,2,2,2,Electronic check,116.00,8182.85,No
63,0107-WESLM,Male,0,No,No,1,0,0,Electronic check,19.85,19.85,Yes
64,0107-YHINA,Male,0,No,Yes,2,2,0,Electronic check,99.75,99.75,Yes
65,0111-KLBQG,Male,1,Yes,Yes,1,2,0,Mailed check,93.95,2861.45,No
66,0112-QAWRZ,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),90.80,1442.20,No
67,0112-QWPNC,Male,0,Yes,No,2,1,1,Electronic check,84.35,4059.35,Yes
68,0114-IGABW,Female,0,Yes,No,0,1,2,Bank transfer (automatic),58.25,4145.90,No
69,0114-PEGZZ,Female,0,No,No,2,2,0,Electronic check,107.55,3645.50,No
70,0114-RSRRW,Female,0,Yes,No,1,0,0,Bank transfer (automatic),19.95,187.75,No
71,0115-TFERT,Male,0,Yes,No,2,2,0,Electronic check,111.20,2317.10,Yes
72,0117-LFRMW,Male,0,Yes,Yes,0,1,0,Bank transfer (automatic),40.20,1448.80,Yes
73,0118-JPNOY,Female,1,No,No,1,2,0,Credit card (automatic),85.80,2193.65,No
74,0121-SNYRK,Male,0,No,No,0,1,1,Mailed check,35.40,1748.90,No
75,0122-OAHPZ,Female,0,No,No,2,2,0,Electronic check,73.85,511.25,Yes
76,0123-CRBRT,Female,0,Yes,Yes,2,1,2,Mailed check,88.10,5526.75,No
77,0125-LZQXK,Male,0,No,No,1,2,0,Electronic check,101.35,1553.95,Yes
78,0128-MKWSG,Female,0,No,Yes,0,1,0,Mailed check,45.80,1147.00,No
79,0129-KPTWJ,Male,0,Yes,No,1,2,0,Electronic check,94.65,6747.35,No
80,0129-QMPDR,Male,0,Yes,Yes,1,0,1,Bank transfer (automatic),20.50,865.05,No
81,0130-SXOUN,Male,0,No,No,2,2,0,Credit card (automatic),89.40,5976.90,No
82,0133-BMFZO,Female,0,No,No,1,2,0,Electronic check,86.25,181.65,Yes
83,0134-XWXCE,Female,1,No,No,1,1,1,Bank transfer (automatic),74.85,3268.05,No
84,0135-NMXAP,Female,0,No,No,2,2,0,Bank transfer (automatic),89.75,1052.40,Yes
85,0136-IFMYD,Male,1,Yes,No,2,2,2,Electronic check,109.95,7634.25,No
86,0137-OCGAB,Female,0,No,No,2,2,0,Mailed check,80.20,80.20,Yes
87,0137-UDEUO,Female,0,No,No,1,0,0,Mailed check,19.85,63.75,Yes
88,0139-IVFJG,Female,0,Yes,No,1,2,0,Electronic check,90.35,190.50,No
89,0141-YEAYS,Female,1,No,No,2,2,0,Bank transfer (automatic),86.45,2401.05,No
90,0142-GVYSN,Male,0,No,No,1,0,0,Electronic check,20.30,511.25,No
91,0147-ESWWR,Female,1,Yes,No,2,2,0,Electronic check,101.25,3949.15,No
92,0148-DCDOS,Male,0,No,No,2,2,0,Bank transfer (automatic),94.70,2362.10,Yes
93,0151-ONTOV,Female,0,No,No,1,2,0,Mailed check,70.90,70.90,Yes
94,0156-FVPTA,Male,0,Yes,No,1,1,0,Electronic check,54.20,1152.70,Yes
95,0164-APGRB,Female,0,No,No,2,2,2,Electronic check,114.90,8496.70,No
96,0164-XAIRP,Female,0,No,No,1,0,2,Bank transfer (automatic),19.55,470.20,No
97,0168-XZKBB,Female,0,Yes,No,2,2,0,Electronic check,86.85,1564.40,No
98,0174-QRVVY,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.35,1847.55,No
99,0177-PXBAT,Male,1,Yes,No,2,2,0,Bank transfer (automatic),109.90,3694.70,No

In [10]:
# print the number of rows of your original dataframe
df_excel.shape[0]

7049

In [11]:
# print the first 5 column names
df_excel.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [12]:
# print the column names that have a data type of object
[column for column in df_excel.columns.tolist()] # if (df_excel.dtypes == "object")

['customer_id',
 'gender',
 'is_senior_citizen',
 'partner',
 'dependents',
 'phone_service',
 'internet_service',
 'contract_type',
 'payment_type',
 'monthly_charges',
 'total_charges',
 'churn']

In [13]:
# compute the range for each of the numeric variables.

---
### 3. Read the data from this google sheet into a dataframe, df_google

In [14]:
sheet_url = "https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357"

csv_export_url = sheet_url.replace("/edit#gid=", "/export?format=csv&gid=")

df_google = pd.read_csv(csv_export_url)
df_google.drop(columns=["PassengerId"], inplace=True)
df_google

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [15]:
# print the first 3 rows
df_google.head(3)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [16]:
# print the number of rows and columns
df_google.shape

(891, 11)

In [17]:
# print the column names
df_google.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [18]:
# print the data type of each column
df_google.dtypes

Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [19]:
# print the summary statistics for each of the numeric variables
df_google.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [20]:
# print the unique values for each of your categorical variables
print(f"Survived unique values {np.sort(df_google.Survived.unique())}")
print(f"Pclass unique values {np.sort(df_google.Pclass.unique())}")
print(f"Sex unique values {np.sort(df_google.Sex.unique())}")
# print(f"Age unique values {np.sort(df_google.Age.unique())}")
print(f"SibSp unique values {np.sort(df_google.SibSp.unique())}")
print(f"Parch unique values {np.sort(df_google.Parch.unique())}")
print(f"Embarked unique values {df_google.Embarked.unique()}")

Survived unique values [0 1]
Pclass unique values [1 2 3]
Sex unique values ['female' 'male']
SibSp unique values [0 1 2 3 4 5 8]
Parch unique values [0 1 2 3 4 5 6]
Embarked unique values ['S' 'C' 'Q' nan]

### In a new python module, acquire.py

In [21]:
import acquire as ac

In [22]:
# 1. get_titanic_data: returns the titanic data from the codeup data
# science database as a pandas data frame.
titanic = ac.get_titanic_data()
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

In [23]:
# 2. get_iris_data: returns the data from the iris_db on the codeup
# data science database as a pandas data frame. The returned data
# frame should include the actual name of the species in addition
# to the species_ids.
iris = ac.get_iris_data()
iris

,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id,species_name
0,1,5.1,3.5,1.4,0.2,1,setosa
1,2,4.9,3.0,1.4,0.2,1,setosa
2,3,4.7,3.2,1.3,0.2,1,setosa
3,4,4.6,3.1,1.5,0.2,1,setosa
4,5,5.0,3.6,1.4,0.2,1,setosa
5,6,5.4,3.9,1.7,0.4,1,setosa
6,7,4.6,3.4,1.4,0.3,1,setosa
7,8,5.0,3.4,1.5,0.2,1,setosa
8,9,4.4,2.9,1.4,0.2,1,setosa
9,10,4.9,3.1,1.5,0.1,1,setosa
10,11,5.4,3.7,1.5,0.2,1,setosa
11,12,4.8,3.4,1.6,0.2,1,setosa
12,13,4.8,3.0,1.4,0.1,1,setosa
13,14,4.3,3.0,1.1,0.1,1,setosa
14,15,5.8,4.0,1.2,0.2,1,setosa
15,16,5.7,4.4,1.5,0.4,1,setosa
16,17,5.4,3.9,1.3,0.4,1,setosa
17,18,5.1,3.5,1.4,0.3,1,setosa
18,19,5.7,3.8,1.7,0.3,1,setosa
19,20,5.1,3.8,1.5,0.3,1,setosa
20,21,5.4,3.4,1.7,0.2,1,setosa
21,22,5.1,3.7,1.5,0.4,1,setosa
22,23,4.6,3.6,1.0,0.2,1,setosa
23,24,5.1,3.3,1.7,0.5,1,setosa
24,25,4.8,3.4,1.9,0.2,1,setosa
25,26,5.0,3.0,1.6,0.2,1,setosa
26,27,5.0,3.4,1.6,0.4,1,setosa
27,28,5.2,3.5,1.5,0.2,1,setosa
28,29,5.2,3.4,1.4,0.2,1,setosa
29,30,4.7,3.2,1.6,0.2,1,setosa
30,31,4.8,3.1,1.6,0.2,1,setosa
31,32,5.4,3.4,1.5,0.4,1,setosa
32,33,5.2,4.1,1.5,0.1,1,setosa
33,34,5.5,4.2,1.4,0.2,1,setosa
34,35,4.9,3.1,1.5,0.2,1,setosa
35,36,5.0,3.2,1.2,0.2,1,setosa
36,37,5.5,3.5,1.3,0.2,1,setosa
37,38,4.9,3.6,1.4,0.1,1,setosa
38,39,4.4,3.0,1.3,0.2,1,setosa
39,40,5.1,3.4,1.5,0.2,1,setosa
40,41,5.0,3.5,1.3,0.3,1,setosa
41,42,4.5,2.3,1.3,0.3,1,setosa
42,43,4.4,3.2,1.3,0.2,1,setosa
43,44,5.0,3.5,1.6,0.6,1,setosa
44,45,5.1,3.8,1.9,0.4,1,setosa
45,46,4.8,3.0,1.4,0.3,1,setosa
46,47,5.1,3.8,1.6,0.2,1,setosa
47,48,4.6,3.2,1.4,0.2,1,setosa
48,49,5.3,3.7,1.5,0.2,1,setosa
49,50,5.0,3.3,1.4,0.2,1,setosa
50,51,7.0,3.2,4.7,1.4,2,versicolor
51,52,6.4,3.2,4.5,1.5,2,versicolor
52,53,6.9,3.1,4.9,1.5,2,versicolor
53,54,5.5,2.3,4.0,1.3,2,versicolor
54,55,6.5,2.8,4.6,1.5,2,versicolor
55,56,5.7,2.8,4.5,1.3,2,versicolor
56,57,6.3,3.3,4.7,1.6,2,versicolor
57,58,4.9,2.4,3.3,1.0,2,versicolor
58,59,6.6,2.9,4.6,1.3,2,versicolor
59,60,5.2,2.7,3.9,1.4,2,versicolor
60,61,5.0,2.0,3.5,1.0,2,versicolor
61,62,5.9,3.0,4.2,1.5,2,versicolor
62,63,6.0,2.2,4.0,1.0,2,versicolor
63,64,6.1,2.9,4.7,1.4,2,versicolor
64,65,5.6,2.9,3.6,1.3,2,versicolor
65,66,6.7,3.1,4.4,1.4,2,versicolor
66,67,5.6,3.0,4.5,1.5,2,versicolor
67,68,5.8,2.7,4.1,1.0,2,versicolor
68,69,6.2,2.2,4.5,1.5,2,versicolor
69,70,5.6,2.5,3.9,1.1,2,versicolor
70,71,5.9,3.2,4.8,1.8,2,versicolor
71,72,6.1,2.8,4.0,1.3,2,versicolor
72,73,6.3,2.5,4.9,1.5,2,versicolor
73,74,6.1,2.8,4.7,1.2,2,versicolor
74,75,6.4,2.9,4.3,1.3,2,versicolor
75,76,6.6,3.0,4.4,1.4,2,versicolor
76,77,6.8,2.8,4.8,1.4,2,versicolor
77,78,6.7,3.0,5.0,1.7,2,versicolor
78,79,6.0,2.9,4.5,1.5,2,versicolor
79,80,5.7,2.6,3.5,1.0,2,versicolor
80,81,5.5,2.4,3.8,1.1,2,versicolor
81,82,5.5,2.4,3.7,1.0,2,versicolor
82,83,5.8,2.7,3.9,1.2,2,versicolor
83,84,6.0,2.7,5.1,1.6,2,versicolor
84,85,5.4,3.0,4.5,1.5,2,versicolor
85,86,6.0,3.4,4.5,1.6,2,versicolor
86,87,6.7,3.1,4.7,1.5,2,versicolor
87,88,6.3,2.3,4.4,1.3,2,versicolor
88,89,5.6,3.0,4.1,1.3,2,versicolor
89,90,5.5,2.5,4.0,1.3,2,versicolor
90,91,5.5,2.6,4.4,1.2,2,versicolor
91,92,6.1,3.0,4.6,1.4,2,versicolor
92,93,5.8,2.6,4.0,1.2,2,versicolor
93,94,5.0,2.3,3.3,1.0,2,versicolor
94,95,5.6,2.7,4.2,1.3,2,versicolor
95,96,5.7,3.0,4.2,1.2,2,versicolor
96,97,5.7,2.9,4.2,1.3,2,versicolor
97,98,6.2,2.9,4.3,1.3,2,versicolor
98,99,5.1,2.5,3.0,1.1,2,versicolor
99,100,5.7,2.8,4.1,1.3,2,versicolor
100,101,6.3,3.3,6.0,2.5,3,virginica
101,102,5.8,2.7,5.1,1.9,3,virginica
102,103,7.1,3.0,5.9,2.1,3,virginica
103,104,6.3,2.9,5.6,1.8,3,virginica
104,105,6.5,3.0,5.8,2.2,3,virginica
105,106,7.6,3.0,6.6,2.1,3,virginica
106,107,4.9,2.5,4.5,1.7,3,virginica
107,108,7.3,2.9,6.3,1.8,3,virginica
108,109,6.7,2.5,5.8,1.8,3,virginica
109,110,7.2,3.6,6.1,2.5,3,virginica
110,111,6.5,3.2,5.1,2.0,3,virginica
111,112,6.4,2.7,5.3,1.9,3,virginica
112,113,6.8,3.0,5.5,2.1,3,virginica
113,114,5.7,2.5,5.0,2.0,3,virginica
114,115,5.8,2.8,5.1,2.4,3,virginica
115,116,6.4,3.2,5.3,2.3,3,virginica
116,117,6.5,3.0,5.5,1.8,3,virginica
117,118,7.7,3.8,6.7,2.2,3,virginica
118,119,7.7,2.6,6.9,2.3,3,virginica
119,120,6.0,2.2,5.0,1.5,3,virginica
120,121,6.9,3.2,5.7,2.3,3,virginica
121,122,5.6,2.8,4.9,2.0,3,virginica
122,123,7.7,2.8,6.7,2.0,3,virginica
123,124,6.3,2.7,4.9,1.8,3,virginica
124,125,6.7,3.3,5.7,2.1,3,virginica
125,126,7.2,3.2,6.0,1.8,3,virginica
126,127,6.2,2.8,4.8,1.8,3,virginica
127,128,6.1,3.0,4.9,1.8,3,virginica
128,129,6.4,2.8,5.6,2.1,3,virginica
129,130,7.2,3.0,5.8,1.6,3,virginica
130,131,7.4,2.8,6.1,1.9,3,virginica
131,132,7.9,3.8,6.4,2.0,3,virginica
132,133,6.4,2.8,5.6,2.2,3,virginica
133,134,6.3,2.8,5.1,1.5,3,virginica
134,135,6.1,2.6,5.6,1.4,3,virginica
135,136,7.7,3.0,6.1,2.3,3,virginica
136,137,6.3,3.4,5.6,2.4,3,virginica
137,138,6.4,3.1,5.5,1.8,3,virginica
138,139,6.0,3.0,4.8,1.8,3,virginica
139,140,6.9,3.1,5.4,2.1,3,virginica
140,141,6.7,3.1,5.6,2.4,3,virginica
141,142,6.9,3.1,5.1,2.3,3,virginica
142,143,5.8,2.7,5.1,1.9,3,virginica
143,144,6.8,3.2,5.9,2.3,3,virginica
144,145,6.7,3.3,5.7,2.5,3,virginica
145,146,6.7,3.0,5.2,2.3,3,virginica
146,147,6.3,2.5,5.0,1.9,3,virginica
147,148,6.5,3.0,5.2,2.0,3,virginica
148,149,6.2,3.4,5.4,2.3,3,virginica
149,150,5.9,3.0,5.1,1.8,3,virginica