# Acquire
## Zillow

In [1]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from env import host, user, password, get_db_url

In [7]:
zillow_query = """
SELECT parcelid, MAX(transactiondate) as transactiondate
FROM predictions_2017
WHERE YEAR(transactiondate) = 2017
GROUP BY parcelid;
"""

In [3]:
zillow_url = get_db_url("zillow")

In [8]:
df = pd.read_sql(zillow_query, zillow_url)
df

        parcelid transactiondate
0       10711855      2017-07-07
1       10711877      2017-08-29
2       10711888      2017-04-04
3       10711910      2017-03-17
4       10711923      2017-03-24
...          ...             ...
77409  167686999      2017-02-28
77410  167687739      2017-03-03
77411  167687839      2017-05-31
77412  167688532      2017-02-03
77413  167689317      2017-03-14

[77414 rows x 2 columns]

In [9]:
new_query = """
SELECT prop.parcelid, pred.logerror, pred.transactiondate
FROM properties_2017 AS prop
JOIN predictions_2017 AS pred ON prop.parcelid = pred.parcelid
WHERE prop.latitude IS NOT NULL
AND prop.longitude IS NOT NULL
AND pred.transactiondate IN (
	SELECT MAX(pred.transactiondate)
	FROM predictions_2017 AS pred
	WHERE YEAR(pred.transactiondate) = 2017
	GROUP BY pred.parcelid);"""

In [ ]:
df2 = pd.read_sql(new_query, zillow_url)
df2

In [ ]:
df2.parcelid.value_counts().max()